.danya {
  display: block;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}

.grid-item {
  vertical-align: top;
  text-align: center;
  list-style-position: inside;
}

.interests-title {
  color: #e76f3d;
}

.logo-color {
  filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(7500%)
    hue-rotate(144deg) brightness(106%) contrast(113%);
}

@media (prefers-color-scheme: light) {
  .logo-color {
    filter: brightness(0) saturate(100%);
  }
}

ul {
  display: inline-block;
  padding: 0;
}

h4 {
  text-align: center;
}

@media (min-width: 55em) {
  .danya {
    float: left;
    padding: 20px;
    clear: both;
    max-width: 90%;
  }
}

@media (max-width: 30em) {
  .danya {
    float: left;
    padding: 20px;
    clear: both;
    max-width: 80%;
  }
}
