@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 31, 41, 55;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  ul {
    @apply list-disc list-outside text-left;
  }
  h1 {
    @apply text-2xl font-extrabold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
  h4 {
    @apply text-lg font-semibold;
  }
  h5 {
    @apply font-semibold;
  }
}

.cv-container {
  text-align: center;
}

.cv-linebreak {
  border-style: dotted;
}

/*
  Headings
*/

.interests-title {
  color: #ffa86a;
}

.cv-title {
  color: #ffa86a;
  font-weight: bold;
}

.cv-subtitle {
  color: #ffa86a;
}

.cv-section-item {
  text-align: left;
  color: #ffa86a;
}

.cv-section-title {
  text-align: left;
}

.cv-section-subtitle {
  text-align: left;
  text-decoration: underline;
}

.cv-section-subsubtitle {
  text-align: left;
  color: #ffa86a;
}

.cv-section-subsubtext {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
}

.text-orange-feels {
  color: #ffa86a;
}

.logo-color {
  filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(7500%)
    hue-rotate(144deg) brightness(106%) contrast(113%);
}

@media (prefers-color-scheme: light) {
  .interests-title {
    color: #e76f3d;
  }
  .cv-title {
    color: #e76f3d;
    font-weight: bold;
  }
  .cv-subtitle {
    color: #e76f3d;
  }
  .cv-section-title {
    text-align: left;
  }
  .cv-section-item {
    color: #e76f3d;
    text-align: left;
  }
  .cv-section-subtitle {
    text-align: left;
  }
  .text-orange-feels {
    color: #e76f3d;
  }
  .logo-color {
    filter: brightness(0) saturate(100%);
  }
}

@media (max-width: 50em) {
  .cv-title {
    font-size: 200%;
  }

  .cv-subtitle {
    font-size: 90%;
  }
}

/*
  Content
*/
.cv-text {
  text-align: left;
}

.cv-list {
  text-align: left;
  display: block;
}

.cv-link {
  text-decoration: none;
}

/*
  Email
*/

.cryptedmail {
  text-decoration: none;
}

.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

.danya {
  display: block;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}

.grid-item {
  vertical-align: top;
  text-align: center;
  list-style-position: inside;
}

li {
  margin-bottom: 0;
}

ul {
  display: inline-block;
  padding: 0;
  padding-bottom: 25px;
}

h4 {
  text-align: left;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 55em) {
  .danya {
    float: left;
    padding: 20px;
    clear: both;
    max-width: 90%;
  }
}

@media (max-width: 30em) {
  .danya {
    float: left;
    padding: 20px;
    clear: both;
    max-width: 80%;
  }
}

.projects-title {
  text-align: center;
}

.projects {
  text-align: center;
}
