.cv-container {
  text-align: center;
}

.cv-linebreak {
  border-style: dotted;
}

/*
  Headings
*/

.cv-title {
  color: #00a7c7;
  font-weight: bold;
}

.cv-subtitle {
  color: #e76f3d;
}

.cv-section-title {
  text-align: left;
  color: #00a7c7;
}

.cv-section-subtitle {
  text-align: left;
  color: #e76f3d;
}

@media (max-width: 50em) {
  .cv-title {
    font-size: 200%;
  }

  .cv-subtitle {
    font-size: 90%;
  }
}

/*
  Content
*/

.cv-section-item {
  text-align: left;
}

.cv-text {
  text-align: left;
}

.cv-list {
  text-align: left;
  display: block;
}

.cv-link {
  color: #e76f3d;
  text-decoration: none;
}

/*
  Email
*/

.cryptedmail {
  color: #e76f3d;
  text-decoration: none;
}

.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}
